/* style for everything */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}


.btn-primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding: 18px;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: none;
    background-color: #FFFFFF;
}

/* banner styles */

.banner {
    background-image: url(../assests/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 216px 230px 216px 0;
    text-align: right;
    padding-left: 1000px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 25px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

/* achievements styles */

.achievements-container {
    display: flex;
    align-items: center;
    margin: 130px 250px;
    border: #444343 solid 5px;
    padding: 30px;
    border-radius: 5ch;
}

/* tried to check how it looks if hover provided */
/* .achievements-container:hover {
    background-color: #c4d7e7 ;

} */

.achievements-left-list-point {
    display: flex;
    align-items: center;   
}

.achievements-left-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding-bottom: 25px;
}

.achievements-left-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 15px;
    max-width: 70%;
}

.achievements-left-list-point {
    margin-bottom: 10px
}

.achievements-left-list-point i {
    margin-right: 10px;
    align-items: center;
}


/* failur styles */

.failures-container {
    display: flex;
    align-items: center;
    margin: 130px 250px;
}

.failure-right {
    max-width: 40%;
    margin-left: 87px;
}

.failure-right-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding-bottom: 25px;
}

.failure-right-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 15px;

}

.failure-right-list-point {
    display: flex;
    align-items: center;
}

.failure-right-list .failure-right-list-point {
    margin-bottom: 8px;
}

.failure-right-list-point img {
    padding-right: 10px;
}

/* plan styels */

.plan-container {
    margin: 130px 250px;
    text-align: center;
}

.plan-list {
    display: flex;
    justify-content: space-around;
}

.plan-name {
    font-size: 25px;
    line-height: 35px;
    color: #151414;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-description {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    margin-top: 7px;
}

.plan-iteam img {
    margin-bottom: 20px;
}

/* contact style */

.contact {
    margin: 130px 250px;
    text-align: center;
    background-image: linear-gradient(to right, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../assests/images/watch.png);
    border-radius: 15px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 60px 617px 25px 60px;
}

.btn-contact {
    margin: 0 617px 60px 60px;
}

/* footer style */

.footer {
    display: flex;
    padding: 130px 250px;
    background: #151414;
}

.footer-left {
    margin-right: 330px;
}

.footer-left-title,
.footer-right-subscribe {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #F8F8F8;
    width: 50%;
    margin-bottom: 15px;
}

.footer-left-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-left-email,
.footer-left-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#email {
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
}

.footer-right-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 21px;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: none;
    background: #005FAC;
    border-radius: 8px;
}

.footer-left-img {
    margin-right: 10px;
}

#email{
    background: transparent;
    color: white;
    font-size: 20px;
}
    